#imgGallery {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.imgGalleryElement {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 5%;
    display: flex;
    align-items: center;
}
.imgGalleryElement:hover,
.imageSlideShowBtn:hover,
#playPause:hover { 
    cursor: pointer; 
    opacity: 1; 
}


.imgGalleryElement img {
    width: 100%;
}

.slides { 
    display:none; 
}

#imageSlideShowDiv {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

#playPause {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0.7;
}

.imageSlideShowBtn {
    display: none;
}


.imageSlideShowBtn {
    margin: auto 10px auto 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    height: 50px;
    padding: 0px 20px 0px 20px;
    opacity: .7;
}

.imageSlideShowBtn:focus { outline: none; }
