#imgGallery {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: fit-content;
    max-width: 90%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 15px;
    min-height: 110px;
}

.imgGalleryElement {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: #000000;
    transition: border-bottom 1s ease;
}

.imgGalleryElement:hover,
.imageSlideShowBtn:hover,
#playPause:hover { 
    cursor: pointer; 
    opacity: 1; 
}


.imgGalleryElement img {
    width: 100%;
    transition: width 1s ease;
}

.slides { 
    display:none; 
    height: 500px;
}

#currentImage {
    max-width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

#imageSlideShowDiv {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;
}

#playPause {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0.7;
}

.imageSlideShowBtn {
    display: none;
}

.imageSlideShowBtn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    height: 50px;
    padding: 0px 20px 0px 20px;
    opacity: .7;
    transition: all .5s ease;
    z-index: 10;
}

.imageSlideShowBtn:focus { outline: none; }
