html {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(21, 21, 21);
    /* background-image: linear-gradient(to right, rgba(1, 2, 3, 0.5), rgba(137, 13, 63, 0.5)); *
    background: url("../media/jostein.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body {
    font-family: roboto;
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 340px;
    overflow-x: hidden;
    background-attachment: fixed;
    /* background-image: url("../media/jostein.jpg"); */
}

div.stickyDiv {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:5;
}
#wallpaper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url("../media/jostein.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: moveViewPort 2s ease 1s 1;
}

#wallpaper h1 {
    position: relative;
    margin: auto;
    width: fit-content;
}

#wallpaper h1 div { 
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: transitionOnload 1s ease 0s 1;
    height: 5px;
    position: relative;
    background-color: #ffffff;
    content: "";
}

footer {
    position: relative;
    bottom: 0px !important;
    top: auto;
    width: 100%;
    height: fit-content;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes transitionOnload {
    from {
        opacity: 0;
        left: 50%;
        width: 0%;
    }

    to {
        opacity: 1;
        left: 0%;
        width: 100%;
    }
}

@keyframes moveViewPort {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

#heading { animation: fadeHeading 1s ease 2s; }

@keyframes fadeHeading {
    from { opacity: 1;}
    to {opacity: 1;}
} 
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cover {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}
#img1 {
    background-image: url("../media/jostein.jpeg");
}
#img2 {
    background-image: url("../media/jostein-nut-face.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    filter: blur(5px);
    opacity: 0.8;
    transform: scale(1.1);
}
#placeholder {
    min-height: 200vh;
}
.title {
    top: 40vh;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-weight: 100;
    font-size: 100px;
    color: white;
    position: sticky;
    margin: 0;
}
.text {
    min-height: 50vh;
    background-color: rgb(30, 30, 30);
    background-size: cover;
    color: white;
    padding-bottom: 20vh;
    margin-bottom: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
#down {
    width: 5vw;
    left: 45vw;
    bottom: -80vh;
    position: relative;
}
h1,
h2 {
    font-family: roboto;
    font-weight: 100;
    margin: 0;
}
h2 {
    font-size: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}
#body {
    min-height:100%;
}

#content {
    position: relative;
    margin: 100px auto auto auto;
    padding: 0px 0px 100px 0px;
    width: 80%;
    height: fit-content;
    min-height: 100%;
    display: block;
    transition: top 1s ease;
    overflow: hidden;
    /* background-color: rgba(50, 50, 50, 0.9); */
    background-color: rgb(30, 30, 30);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
    /* background-image: linear-gradient(blue, green, yellow, green); */
}

.paragrephs {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    line-height: 1.4em;
}

h1 {
    color: #ffffff;
    text-align: center;
    position: relative;
    display: block;
    font-size: 100px;
    margin-top: 70px;
    margin-bottom: 50px;
    top: 15px;
}

.images {
    width: 100%;
    position: relative;
}


/* images.html */
#mainImage {
    position: relative;
    margin: auto;
    width: 100%;
}

#imageNavDiv {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.imageNav {
    width: 15%;
    margin: 10px;
}

.imageNav:hover {
    cursor: pointer;
}

.songInMusicGallery:focus {
    outline: none;
}

.songInMusicGallery {
    width: 69.5%;
    background-color: #F3F3F5;
    /* padding: 5% 0% 5% 0%; */
}

#songsTable {
    position: relative;
    margin: auto;
    width: 90%;
    top: 50px;
    background-color: white;
    line-height: 4em;
    overflow: hidden;
}

tr:nth-child(n+1):hover {
    cursor: pointer;
    background-color: gray;
    border: 3px solid gray;
}

td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

/* images.html */
#mainImage {
    position: relative;
    margin: auto;
    width: 100%;
}

td,
th {
    text-align: center;
}

#imageNavDiv {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.imageNav {
    width: 15%;
    margin: 10px;
}

.imageNav:hover {
    cursor: pointer;
}

/*About page*/
