/* Style for music.html */
#musicGallery {
    position: relative;
    width: 90%;
    height: fit-content;
    /*background-color: darkgray;
    outline: 2px solid rgba(0, 0, 0, 0.9);*/
    background-color: rgb(42, 42, 42);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songs:hover {
    cursor: pointer;
    text-decoration: underline;
}

#coverImage {
    /* width: 30%; */
    height: 100px;
    min-width: 100px;
    min-height: 83px;
    margin: auto;
    /*border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(16, 14, 35, 0.9);*/
    /* background-color: rgba(28, 134, 212, 0.4); */
    background-color: rgb(42, 42, 42);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

#displaySongName {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-bottom: 5px;
    color: #ffffff;
    margin-right: 50px;
}

.explicit {
    position: relative;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
    font-size: 0.8em;
    height: fit-content;
    padding: 2px 10px 1px 10px;
    top: 31px;
}

#songInMusicGallery:focus {
    outline: none;
}

#songInMusicGallery {
    width: 69.5%;
    background-color: #F3F3F5;
    margin: auto;
    border-radius: 25px;
}

#songsList {
    top: 50px;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 370px;
    height: fit-content;
    color: #ffffff;
    background-color: rgb(42, 42, 42);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
    padding: 0;
}

.songsListElement div img {
    position: relative;
    top: 4px;
}

/* Play/Pause buttom */
.playSlashPause {
    position: relative;
    display: none;
    border-radius: 150%;
    transition: all .5s ease;
    top: 5px;
}

.playSlashPause:hover {
    cursor: pointer;
    margin: -2.5px;
    height: 35px;
}

#songsListHeaders {
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-bottom: .5px solid darkgray;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    background-color: rgb(70, 70, 70);
}

.songsListElement {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: .5px solid darkgray;
    background-color: rgb(42, 42, 42);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
}

.songsListElement:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.songsListElement:hover .playSlashPause {
    display: flex;
}

.songsListElement p,
.songsListElement div,
#songsListHeaders p {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 32px 12px;
}
