/* Style for music.html */
#musicGallery {
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: darkgray;
    outline: 2px solid rgba(0, 0, 0, 0.9);
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coverImage {
    /* width: 30%; */
    height: 200px;
    min-width: 124px;
    min-height: 83px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(16, 14, 35, 0.9);
    /* background-color: rgba(28, 134, 212, 0.4); */
}

#displaySongName {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-right: 20px;
}

.explicit {
    position: relative;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
    font-size: 0.8em;
    height: fit-content;
    padding: 2px 10px 1px 10px;
    top: 31px;
}

#songInMusicGallery:focus {
    outline: none;
}

#songInMusicGallery {
    width: 69.5%;
    background-color: #F3F3F5;
    margin: auto;
}

#songsList {
    top: 50px;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 370px;
    height: fit-content;
    color: #ffffff;
    background-color: #181818;
    padding: 0;
}

.songsListElement div img {
    position: relative;
    top: 4px;
}

/* Play/Pause buttom */
.playSlashPause {
    position: relative;
    display: none;
    border-radius: 150%;
    transition: all .5s ease;
    opacity: .7;
    top: 5px;
}

.playSlashPause:hover {
    cursor: pointer;
    opacity: 1;
}

#songsListHeaders {
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-bottom: .5px solid darkgray;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 0px 0px;
    width: 100%;
    height: fit-content;
    background-color: #9c9191;
}

.songsListElement {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: .5px solid darkgray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
    transition: height 1s ease;
}

.songsListElement:hover {
    background-color: #282828 !important;
}

.songsListElement:hover .playSlashPause {
    display: flex;
}

.songsListElement p,
.songsListElement div,
#songsListHeaders p {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 32px 12px;
}
