#navigation {
    display: flex-box;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-inline-start: 0px;
    transition: left 1s ease;
    /* background-image: url("./media/jostein.jpg"); */
}

#navigation.moveLeft {
    left: 100%;
}
#navigation.moveRight {
    left: 0%;
}

#burgerNav { display: none;}
#burgerNav:hover { cursor: pointer; }

.navigation_element {
    background-color: rgba(52, 59, 113, 0.7);
    font-size: 2em;
    list-style-type: none;
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.navigation_link {
    line-height: 65px;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}

#hover_navigation_element:hover .dropdown-content {
    /* border-top: 1px solid red; */
    /* margin-top: -1px; */
}

.navigation_element:hover {
    border-top: 2px solid red;
    margin-top: -2px;
}
.navigation_element a:hover, .active {
    color: red;
}

.navigation_element a {
    transition: color 0.5s ease;
}

/* Dropdown */
.dropdown-content {
    display: none;
    background-color: rgba(211, 31, 101, 0.5);
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -70px;
    z-index: 10;
    /* width: fit-content; */
    /* background-color: rgba(55, 55, 55,0.5); */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
#hover_navigation_element:hover .dropdown-content, .dropdown-content:hover a {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.dropdown-content a {
    transition: color 1s ease;
    padding: 13px 16px;
    text-decoration: none;
    text-align: center;
    color:#ffffff;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: red;
}

@media only screen and (max-width: 625px) {
    #content { top: -250px; }
    #burgerNav {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        left: 20px;
        top: 15px;
        transition: transform 0.8s ease;
    }

    .burgerNavTurn {
        transform: rotate(135deg);
    }

    #navigation {
        position: relative;
        left: 100%;
    }

    .navigation_element {
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    #hover_navigation_element:hover .dropdown-content {
        display: inline;
        justify-content: center;
        flex-flow: column;
        position: relative;
        text-align: center;
        left: 5%;
        padding: 12px 0px;
    }

    .dropdown-content a {
        position: relative;
        width: 300px;
        margin: 0px 5%;
        height: 100%;
        margin: auto;        
    }

    h1 {
        font-size: 40px;
    }
}













/* Soxial media icons */
.fa {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: all 0.2s ease;
    vertical-align: middle;
    display: inline-flex;
}

.fa:hover {
    opacity: 0.6;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
}

footer p, footer a {
    display: inline;
}

footer a {
    margin-left: 10%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

footer {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(52, 59, 113, 0.7);
}

footer a {
    margin-right: 8%;
}


footer p {
    text-align: right;
    width: 40%;
    left: 50%;
}
