#navigation {
    display: flex-box;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-inline-start: 0px;
    transition: left 1s ease;
}

#navigation.moveLeft {
    left: 100%;
}
#navigation.moveRight {
    left: 0%;
}

#burgerNav { display: none;}
#burgerNav:hover { cursor: pointer; }

.navigation_element {
    background-color: rgba(16, 14, 35, 0.7);
    font-size: 2em;
    list-style-type: none;
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

.navigation_link {
    line-height: 65px;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}


.navigation_element:hover {
    /* border-top: 2px solid red;
    margin-top: -2px; */
    background-image: linear-gradient(to right,  rgba(15, 150, 150, 0.5),  rgba(150, 15, 37, 0.5),  rgba(45, 99, 69, 0.5));
}
.navigation_element a:hover, .active {
    color: red;
}

.navigation_element a {
    transition: color 0.5s ease;
}

/* Dropdown */
.dropdown-content {
    display: none;
    background-color: rgba(211, 31, 101, 0.5);
    position: absolute;
    text-align: center;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#hover_navigation_element:hover .dropdown-content  {
    display: flex;
}

.dropdown-content a {
    transition: color 1s ease;
    width: 33%;;
    padding: 13px 16px;
    text-decoration: none;
    text-align: center;
    color:#ffffff;
    /* background-color: #ddd; */
}

.dropdown-content a:hover {
    background-image: linear-gradient(to right,  rgba(15, 150, 150, 0.5),  rgba(150, 15, 37, 0.5),  rgba(45, 99, 69, 0.5));
    color: red;
}

@media only screen and (max-width: 625px) {
    h1 {
        font-size: 40px;
    }

    #content { top: -110px; }
    #burgerNav {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        left: 20px;
        top: 15px;
        transition: transform 0.8s ease;
    }

    #burgerNav:hover {
        opacity: 0.5;
    }

    .burgerNavTurn {
        transform: rotate(135deg);
    }

    #navigation {
        position: relative;
        left: 100%;
    }

    .navigation_element {
        font-size: initial;
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        flex-flow: column;
        padding: 0;
        height: 30px;
    }

    .navigation_element a {
        padding: 0;
        height: 30px;
        line-height: 200%;
    }

    .dropdown-content {
        display: none;
    }

    #hover_navigation_element {
        height: fit-content;
    }

    .dropdown-content a {
        width: fit-content;
        padding: 0 10%;
    }

    .dropdown-content a:hover {
        /* background-color: transparent; */
        background-color: rgba(16, 14, 35, 0.1);
    }

    #hover_navigation_element:hover {
        border-top: 2px solid red;
        margin-top: -2px;
    }

    #hover_navigation_element:hover .dropdown-content {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        border-bottom: 2px solid red;
    }
}


/* Soxial media icons */
.fa {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: all 0.2s ease;
    vertical-align: middle;
    display: inline-flex;
}

.fa:hover {
    opacity: 0.6;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

footer {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    padding: 0.5rem;
    text-align: center;
    /* background-color: rgba(52, 59, 113, 0.7);     */
    background-color: rgba(16, 14, 35, 0.7);
}

footer a {
    margin-right: 8%;
}


footer p {
    text-align: right;
    width: 40%;
    left: 50%;
}

footer p, footer a {
    display: inline;
}

footer a {
    margin-left: 10%;
}
