#navigation {
    position: relative;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding-inline-start: 0px;
}

.navigation_element {
    font-size: 2em;
    list-style-type: none;
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
    background-color: black;
    /* opacity: 0.7; */
    /* transition: border-bottom 5s ease; */
    /* transition: margin_bottom 5s ease; */
}

.navigation_link {
    line-height: 65px;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.navigation_element:hover {
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}

.navigation_element a {
    transition: color 0.5s ease;
}
.navigation_element:hover a {
    color: red;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    justify-content: center;
    margin-left: -25px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn .dropdown-content a {
    color: black;
}

.dropdown-content > a:link {
    transition: color 1s ease;
    padding: 13px 16px;
    text-decoration: none;
    position: relative;
    color:#fffafa;
    text-decoration:none;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: red;
}
#hover_navigation_element:hover .dropdown-content {
    /* display: flex;
    justify-content: center;
    flex-flow: column-reverse; */
    display: grid;
    position: absolute;
    justify-content: center;
}
  

@media only screen and (max-width: 625px) {
    .navigation_element {
        display: block;
        padding: 0;
        height: 50px;
    }

    .navigation_element:hover {
        background-color: grey;
    }


    .navigation_element a {
        font-size: 20px;
        padding: 0px;
        line-height: 50%;
        /* width: 100%; */
    }

    #hover_navigation_element:hover .dropdown-content {
        display: flex;
        justify-content: left;
        flex-direction: column;
        position: relative;
        width: 110%;
        left: -5%;
        margin-left: auto;
        margin-right: auto;
    }
    .dropdown-content {
        /* position: relative; */
        /* display: block; */
        background-color: grey;
        width: 200%;
        text-align: center;
    }
    .dropdown-content a {
        color: black;
    }

    .dropdown-content a {
        transition: color 1s ease;
    }
    .na.dropdown-content avigation_element:hover a, .dropdown-content a{
        color: green;
    }

}

