.covers {
    height: 500px;
    width: 500px;
    padding: 25px;
    float: left;
}

.surround {
    min-height: 550px;
    width: 75vw;
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.1)
}

.description {
    padding-top: 25px;
    color: white;
    font-size: 25px;
    ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.title {
    font-size: 70px;
}

.purchase {
    height: auto;
    font-size: 20px;
    width: auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    float: left;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 10px;
    padding: 5px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
}

.modal-content {
    background-color: rgb(30, 30, 30);
    width: 600px;
    margin: auto;
    color: white;
    height: fit-content;
    min-height: 0;
    display: flex;
}

.imgContainer {
    height: auto;
    width: 50%;
}

.songs {
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: #ffffff;
    text-align: left;
    position: relative;
    display: block;
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

#albums,
#singles {
    margin-bottom: 100px;
}

h3 {
    margin-bottom: 0;
}

.eventText p {
    margin-top: 10px;
}

.modal-content img {
    width: 50%;
    margin: 40px 0px 40px 0;
}

.close {
    z-index: 1;
}

.eventDisc {
    padding-left: 20px;
    padding-bottom: 40px;
}

#singles .purchase {
    margin-top: 0;
}

#singles .eventElement {
    cursor: default;
}