html {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(29, 27, 27);
    /* background-image: linear-gradient(to right, rgba(1, 2, 3, 0.5), rgba(137, 13, 63, 0.5)); *
    background: url("../media/jostein.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 340px;
    overflow-x: hidden;
    background-attachment: fixed;
    /* background-image: url("../media/jostein.jpg"); */
}

#content {
    position: relative;
    margin: 100px auto auto auto;
    padding: 0px 0px 100px 0px;
    width: 80%;
    height: fit-content;
    min-height: 100%;
    display: block;
    transition: top 1s ease;
    overflow: hidden;
    /* background-color: rgba(50, 50, 50, 0.9); */
    background-color: rgba(0, 0, 0, 0.9);
    /* background-image: linear-gradient(blue, green, yellow, green); */
}

.paragrephs {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    line-height: 1.4em;
}

h1 {
    color: #ffffff;
    text-align: center;
    position: relative;
    display: block;
    font-size: 100px;
    margin-top: 30px;
    top: 15px;
}

.images {
    width: 100%;
    position: relative;
}


/* images.html */
#mainImage {
    position: relative;
    margin: auto;
    width: 100%;
}

#imageNavDiv {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.imageNav {
    width: 15%;
    margin: 10px;
}

.imageNav:hover {
    cursor: pointer;
}

.songInMusicGallery:focus {
    outline: none;
}

.songInMusicGallery {
    width: 69.5%;
    background-color: #F3F3F5;
    /* padding: 5% 0% 5% 0%; */
}

#songsTable {
    position: relative;
    margin: auto;
    width: 90%;
    top: 50px;
    background-color: white;
    line-height: 4em;
    overflow: hidden;
}

tr {
    /* background-color: white !important; */
}

tr:nth-child(n+1):hover {
    cursor: pointer;
    background-color: gray;
    border: 3px solid gray;
}

td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

/* images.html */
#mainImage {
    position: relative;
    margin: auto;
    width: 100%;
}

td,
th {
    text-align: center;
}

#imageNavDiv {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.imageNav {
    width: 15%;
    margin: 10px;
}

.imageNav:hover {
    cursor: pointer;
}

/*About page*/
